.app {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(#000000, #505050);
  text-align: center;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #000000;
}

.logo {
  height: 10rem;
  width: auto;
  float: left;
}

.title {
  width: 75%;
  font-size: 3rem;
}

.content {
  margin: auto;
  background-image: linear-gradient(#000000, #303030);
  width: 85%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit);
  padding-left: 5px;
  padding-right: 5px;
  grid-gap: 1rem;
}

.extend-button {
  width: 100%;
  height: 1.5em;
  font-size: 1.2em;
  margin-top: 0.2em;
  background-color: #303030;
  border: 2px solid #999999;
  color: white;
}

.video-display {
  display: flex;
  align-items: center;
  position: relative;
}

.video-container {
  width: 100%;
}

.apod-video {
  width: 100%;
  height: 250px;
}

.apod-video-modal {
  width: 100%;
  height: 500px;
}

.show-modal-button {
  border: 1px solid #505050;
  background-color: #222222;
  color: #eeeeee;
  margin: 0.2rem;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.3s;
}

.show-modal-button:hover {
  color: #ffffff;
  background-color: #444444;
}

.image-display {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.apod-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid black;
  transition: 0.3s;
}

.apod-image:hover {
  transform: scale(1.05);
  border: 1px solid white;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 4rem;
  padding-bottom: 4rem;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: black;
  width: 80%;
  padding: 5px;
  overflow: hidden;
  height: minmax(50%, auto);
  border: 1px solid #ccc;
}

.modal-box {
  width: 100%;
  height: auto;
  margin: 2px;
  display: flex;
  align-items: center;
}

#apod-video {
  width: 100%;
  height: 100%;
}

.modal-information {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

#apod-hd-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#image-title {
  font-weight: bold;
  font-size: 2rem;
}

#image-date {
  font-size: 1.5rem;
  color: #aaaaaa;
}

#image-description {
  font-size: 1rem;
}

#image-open-hd{
  font-size: 0.95rem;
}

#image-open-hd-a{
  color: #aaa;
  border: 2px solid #505050;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  transition: 0.3s;
}

#image-open-hd-a:visited{
  color: #aaa;
}

#image-open-hd-a:hover{
  color: white;
  background-color: #505050;
}

.modal-close-button {
  border: 1px solid black;
  background-color: #222222;
  color: #eeeeee;
  margin: 0.2rem;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.3s;
}

.modal-close-button:hover {
  color: #ffffff;
  background-color: #444444;
}

.hidden {
  display: hidden;
}

.footer {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: rgb(168, 168, 168);
  background-color: #000000;
}

.github-link {
  text-decoration: none;
  color: #6c6cfabe;
}

.github-link:hover {
  color: #ffffff;
}

.github-link:active {
  color: #ffffff;
}

.github-link:visited {
  color: #6c6cfabe;
}

@media (max-width: 1000px) {
  .logo {
    height: 18vw;
    width: auto;
    float: left;
  }

  .title {
    font-size: 4vw;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .image-display {
    margin-top: 5rem;
  }

  .video-display {
    margin-top: 5rem;
  }

  .apod-video {
    height: 350px;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
  }
}
