.app {
  background-image: linear-gradient(#000000, #505050);
  text-align: center;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-image: linear-gradient(#000000, #303030);
  width: 80%;
}

.image-display {
  height: 500px;
}

.modal {
}

.modal-old {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.toggle-modal-button .modal-content {
  font-size: 1em;
}

.hidden {
  display: hidden;
}

.image-display {
  height: 50vh;
}

#image-title {
  font-weight: bold;
  font-size: 35px;
}

#image-description {
  font-size: 20px;
}

#apod-image {
  width: auto;
  height: 90%;
  box-shadow: 3px 3px #000000;
}

#rover-image {
  width: 100%;
  height: auto;
  box-shadow: 3px 3px #000000;
}
