.app {
  background-image: linear-gradient(#000000, #505050);
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-image: linear-gradient(#000000, #303030);
  width: 80%;
}

.image-display {
  height: 500px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.toggle-modal-button {
  border: 1px solid black;
}

.modal-content {
  margin: auto;
  background-color: black;
  width: 60%;
  height: minmax(50%, auto);
  border: 1px solid #ccc;
}

.hidden {
  display: hidden;
}

.image-display {
  height: 50vh;
}

#image-title {
  font-weight: bold;
  font-size: 2rem;
}

#image-date {
  font-size: 1.5rem;
  color: #aaaaaa;
}

#image-description {
  font-size: 1rem;
}

#apod-image {
  width: auto;
  height: 90%;
  box-shadow: 3px 3px #000000;
}

#apod-image:hover {
  animation: image-hover 1s forwards;
}

@keyframes image-hover {
  0% {
  }
  100% {
    height: 95%;
    box-shadow: 3px 3px #cccccc;
  }
}
